####################################
# Python
####################################
__pycache__/
*.pyc
*.pyo
*.pyd

####################################
# Virtual env / env
####################################
.venv/
venv/
.env

####################################
# PyTorch / ML artifacts
####################################
*.pth
*.pt
*.ckpt
checkpoints/
weights/
models/

####################################
# Datasets (VERY IMPORTANT)
####################################
data/
dataset/
datasets/
images/
masks/

####################################
# Training outputs
####################################
runs/
logs/
output/
outputs/
results/
predictions/

####################################
# TensorBoard
####################################
events.out.tfevents*

####################################
# Slurm
####################################
slurm-*.out
slurm-*.err
*.out
*.err

####################################
# Docker artifacts (NOT dockerfile)
####################################
*.tar
*.tar.gz
*.img
docker/
containers/
build/
cache/

####################################
# OS
####################################
.DS_Store
Thumbs.db